**/target
**/node_modules
**/pkg
**.node

**/__pycache__/
**.py[cod]

# Terraform transient state & keys
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/id_ed25519*
*.tar.gz
**/results/
results/

# Compiled native binaries / dynamic libraries
*.so
*.dylib
*.dll
*.pyd
